<div *ngIf="inserisci">
  <!-- Si visualizza quando l'utente clicca il bottone di Inserimento -->
  <h4>
    Compilare i seguenti campi e premere il bottone di Conferma Inserimento per
    inserire un nuovo libro:
  </h4>
  <p>Titolo: <input id="titoloInserito" /></p>
  <p>Autore: <input id="autoreInserito" /></p>
  <p>Posizione: <input id="posizioneInserita" /></p>

  <button id="confInserimento" (click)="confermaInserimento()">
    Conferma Inserimento
  </button>
  <button id="indietro">
    Indietro
  </button>
</div>
