<p id="risultatoRicerca" *ngIf="trovato == true"></p>
<div *ngIf="ricerca == true && trovato == false">
  <h4>Inserire il titolo o l'autore del libro che si desidera trovare:</h4>
  <input id="stringaInput" (keyup)="ricercaSingoloLibro()" />
  <p id="risultatoOccorrenze"></p>
  <br />
  <div>
    <button (click)="nascondiRicerca()">Esci</button>
  </div>
</div>
<app-prestito
  [prestaorimuovi]="prestaorimuovi"
  [ricerca]="ricerca"
  [libroTrovato]="libroTrovato"
  [archivioRicerca]="archivioRicerca"
  (nascondiP)="nascondiPrestitoRimozione($event)"
></app-prestito>
<app-restituzione
  [restituisci]="restituisci"
  [ricerca]="ricerca"
  [libroTrovato]="libroTrovato"
  [archivioRicerca]="archivioRicerca"
  (nascondiRe)="nascondiBtnRestituzione($event)"
></app-restituzione>
<app-rimozione
  [prestaorimuovi]="prestaorimuovi"
  [libroTrovato]="libroTrovato"
  [archivioRicerca]="archivioRicerca"
  [ricerca]="ricerca"
  (nascondiR)="nascondiPrestitoRimozione($event)"
></app-rimozione>
