<div *ngIf="ricerca == true">
  <p id="risultatoRicerca"></p>
</div>

<div *ngIf="ricerca == true && trovato == false">
  <h4>Inserire il titolo o l'autore del libro che si desidera trovare:</h4>
  <input id="stringaInput" (keyup)="ricercaSingoloLibro()" />
  <p id="risultatoOccorrenze">Nessun libro trovato.</p>
  <br />
  <div>
    <button (click)="nascondiRicerca()">Esci</button>
  </div>
</div>
<app-prestito
  [prestaorimuovi]="prestaorimuovi"
  [ricerca]="ricerca"
  [libroTrovato]="libroTrovato"
  [archivioRicerca]="archivioRicerca"
  (nascondiP)="nascondiPrestitoRimozione()"
></app-prestito>
<app-restituzione
  [restituisci]="restituisci"
  [ricerca]="ricerca"
  [libroTrovato]="libroTrovato"
  [archivioRicerca]="archivioRicerca"
  (nascondiRe)="nascondiBtnRestituzione()"
></app-restituzione>
<app-rimozione
  [prestaorimuovi]="prestaorimuovi"
  [libroTrovato]="libroTrovato"
  [archivioRicerca]="archivioRicerca"
  [ricerca]="ricerca"
  (nascondiR)="nascondiPrestitoRimozione()"
></app-rimozione>
